p {
    margin-top: 300px;
    text-align: center;
    display: none;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain{
    height: 600px;
    flex-direction: column;
}

body{
    background-image: url(../images/fond.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

